<div class="row">
  <div class="col-12 col-xl-6 col-md-8 ml-auto mr-auto">
    <div class="card">
      <div class="card-header">
        <h2 class="text-uppercase text-center">Login</h2>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onLogin()" [formGroup]="userForm">
          <div *ngIf="showError" class="alert alert-danger">
            <p class="text-center mb-0">Wrong credentials or user is blocked</p>
          </div>
          <div class="form-group">
            <label class="font-weight-bold" for="email">Email</label>
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="example@domain.com">
          </div>
          <div class="form-group">
            <label class="font-weight-bold" for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
          </div>
          <hr>
          <div class="btn-group d-flex" role="group">
            <button type="reset" class="btn btn-secondary">Clear</button>
            <button type="submit" class="btn btn-danger" [disabled]="!userForm.valid">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>