<div class="row">
  <div class="col-12">
    <img class="ml-auto mr-auto mb-5 d-flex" width="150" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2 class="text-uppercase mb-3">What it is</h2>
    <p class="text-justify">Courses academy is a digital place, where you can find a bunch of courses on almost any modern field imaginable. It's also a relatively simple <strong>Angular</strong> project, so don't believe anything your read here.</p>
    <p class="text-justify font-italic">Courses academy offers the following functionality:</p>
    <div class="row">
      <div class="col-12 col-md-4">
        <h6 class="text-uppercase text-success">Guests</h6>
        <ul>
          <li>View title and description of courses</li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <h6 class="text-uppercase text-primary">Users</h6>
        <ul>
          <li>View title, description and rating of courses</li>
          <li>Rate courses</li>
          <li>Join courses</li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <h6 class="text-uppercase text-danger">Admins</h6>
        <ul>
          <li>View, add, edit and delete courses</li>
          <li>Manage users</li>
        </ul>
      </div>
    </div>
  </div>
  <!--
  <div class="col-6">
    <h2 class="text-uppercase mb-3">Lorem Ipsum</h2>
    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <strong>Lorem Ipsum</strong> has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <em>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</em></p>
    <p class="text-justify">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like <strong>Aldus PageMaker</strong> including versions of Lorem Ipsum.</p>
    <p class="text-justify">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
  </div>
  -->
</div>